body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #d9d8d8;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
}

.counter-container {
    display: flex;
    align-items: center;
    gap: 20px;

}

button {
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    background-color: #f13b3bc3;
    color: white;
    transition: background 0.3s;
    
}

button:hover {
    transform: scale(1.10);
    transition: 0.2s;
    background-color: #6aadf5;
}

h2 {
    font-size: 30px;
    margin: 0;

}
